
/* Add your profile image here */
.Photo{
    background-image: url('https://portfolio-abel.s3.amazonaws.com/images/badass.png');
    
}
/* Projects Photo */
.project1{
    background-image: url('https://portfolio-abel.s3.amazonaws.com/182-1826643_coming-soon-png.png');
    cursor: none;    
}
.project2{
    background-image: url('https://portfolio-abel.s3.amazonaws.com/182-1826643_coming-soon-png.png');
    cursor: none;
}
.project3{
    background-image: url('https://portfolio-abel.s3.amazonaws.com/pipeline.png');
    cursor: none;
}
.project4{
    background-image: url('https://portfolio-abel.s3.amazonaws.com/images/cognito_dynamodb.png');
    cursor: none;
}
.project5{
    background-image: url('https://portfolio-abel.s3.amazonaws.com/Connect_to_QuickSight.jpg');
    cursor: none;
}
.project6{
    background-image: url('https://portfolio-abel.s3.amazonaws.com/projects/S3-batch-operations.png');
    cursor: none;
}
.project7{
    background-image: url('https://portfolio-abel.s3.amazonaws.com/yourproject.jpg');
    cursor: none;
}
/* Miscelaneous Activities photo */
.misc1{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+one');
    cursor: none;
}
.misc2{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+two');
    cursor: none;
}
.misc3{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+three');
    cursor: none;
}